body{
    margin: 0;
    margin: 0;
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 30%;


    
}

.card-top{
    grid-column: 1/3;
    background-color: white;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-top .title{
    color: hsl(179, 62%, 43%);
    font-size: 30px;
}

.card-top .title-2{
    color: hsl(71, 73%, 54%);
    font-size: 20px;
}

.card-top .text{
    color: hsl(218, 22%, 67%);

}

.card-bottom{
    display: grid;
    grid-column: 1 / 3 ;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.card-bottom{
    display: grid;
    grid-column: 1 / 3 ;
    display: flex;
    justify-content: space-around;
}

.card-left{
    padding-top: 15px;
}

.card-left .subs{
    font-size: 23px;
}

.card-left .price{
    font-size: 35px;
    padding-right: 10px;
}

.card-left button{
    padding: 15px;
    width: 220px;
    border-radius: 5px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
}

.card-right{
    padding-top: 50px;
    line-height: 0.5rem;
}

.card-right .title-right{
    font-size: 23px;
    padding-bottom: 15px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


@media screen and (max-width: 650px) {
    .container{
        display: inline-flexbox;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }


    .card-bottom{
        display: inline-block;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 310px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .card-left{
        padding: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 30px;
    }

    .card-right{
        padding: 10px;
        background-color: hsl(179, 62%, 43%);
        height: 190px;
    }


  }